@model ExecutiveRefreshment.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change password";
}


<div class="row">

    <div class="col-md-12">
        <h4>Change Password</h4>
        <hr />
        <section id="loginForm">
            @using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.existing_password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.PasswordFor(m => m.existing_password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.existing_password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.new_password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.PasswordFor(m => m.new_password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.new_password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.confirm_password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.PasswordFor(m => m.confirm_password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.confirm_password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-md-offset-2 col-md-5">
                        <input type="submit" value="Change Password" class="btn btn-default" />
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-md-2 control-label">&nbsp;</span>
                    <div class="col-md-5 alert-danger">
                        @if (ViewBag.Message != null)
                        {
                            <span class="text-danger">@ViewBag.Message</span>
                        }
                           @if (ViewBag.Success != null)
                            {
                            <script type="text/javascript">
                        alert("Password Changed Successfull !!!");
                         
                            </script>
                           }
                    </div>
                </div>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>

</div>
<script src="~/Scripts/jquery.validate.min.js"></script>

<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>